
body{
}
.header {
    overflow: auto;
    width : 100%;
    text-align: center;
    font-size: 26px;
    padding: 20px;
}
.header.title{
    width:100%;
    font-size: 26px;
}
.header .menu {
    float: right;
}
.button{
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin-left: 4px;
}
.button.left{
    float: left;
}
.button:hover{
    background-color: #BBBBBB;
}
.button.active:hover{
    background-color: #ffffff;
}
.toDoListContainerOuter {
    width: 100%;
}
.toDoListContainerInner {
    overflow: auto;
    width : 100%;
    height: 70%;
}
.toDoListStyle {
    overflow-x: hidden;
    margin: auto;
}
.toDoListDataStyle {
    overflow: auto;
    padding: 5px;
    left: 0;
}
.inputTextOuter {
    position: relative;
    width: 100%;
    padding-top: 10px;
}
.inputTextInner {
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 10px;
}
.listEmptyMessage {
    text-align: center;
    font-size: 18px;
    font-style: italic;
}
.loginErrorMessage{
    width : 100%;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    color: red;
}
.itemStyle {
    padding-right: 5%;
    text-align: right;
    width : 50%;
    float:left
}
.checkboxStyle{
    width : 10%;
}
.checkboxSize{
    cursor: pointer;
    width: 18px;
    height : 18px;
}
.remainderButtonStyle {
    cursor: pointer;
    font-size: 20px;
    margin-left: 5%;
}
.panelSlide{
    padding: 5px;
    text-align: center;
    border: solid 1px;
    display : none;
}
.timerStyle {
    padding: 5px;
    margin-left: 40%;
}
.alertMessage {
    display: none;
}
.timerButtons{
    overflow: auto;
    padding: 5px;
    margin-left: 40%;
}